.file-card {
  //image input section
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 2px rgba(157, 240, 157, 0.5);
  background-color: transparent;
  width: 50%;
  margin-left: 25%;
  color: #fff;
  height: 78vh;

  font-weight: 600;
  .file-inputs {
    position: relative;

    .inputs:hover {
      color: #fff;
    }

    input {
      position: relative;
      text-align: right;
      opacity: 1;
      z-index: 2;
    }
  }
}

//upload file section

.upload-box {
  font-size: 15px;
  background: transparent;
  box-shadow: 0px 0px 1px 2px rgba(157, 240, 157, 0.5);
  border-radius: 50px;
  width: 350px;
  outline: none;
  height: 39px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
  text-shadow: 1px 1px 2px rgb(46, 44, 44), 0 0 1em rgb(1, 1, 10),
    0 0 0.2em rgb(13, 13, 14);
  font-weight: 500;
  color: rgb(239, 247, 168);
  margin-bottom: 50px;
}

::-webkit-file-upload-button {
  color: black;
  border: none;
  padding: 11px;
  border-radius: 50px;
  box-shadow: 1px 0 1px 1px #fff;
  outline: none;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(46, 44, 44), 0 0 1em rgb(1, 1, 10),
    0 0 0.2em rgb(13, 13, 14);
  color: black;
}
//////////////////---//////////////////

.btn-wrapper {
  //download button
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 530px;
  margin-bottom: 1px;
  width: 300px;
  margin-right: 530px;
  margin-bottom: 20px;
}
.btn-wrapper .btn-default {
  font-weight: 1000;
  width: 100%;
  cursor: pointer;
  height: 39px;
  border-radius: 50px;
  background: transparent;
  border-radius: 50px;
  box-shadow: 0px 0px 1px 2px rgba(157, 240, 157, 0.5);
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper .btn-default:hover {
  background-color: #fff;
  text-shadow: 1px 1px 2px rgb(46, 44, 44), 0 0 1em rgb(1, 1, 10),
    0 0 0.2em rgb(13, 13, 14);
  color: black;
  font-weight: 500;
}

.main-selector {
  position: relative;
  width: 10% auto;
  width: 320px;
}

.main-selector .gutterBtn {
  text-shadow: 1px 1px 2px rgb(46, 44, 44), 0 0 1em rgb(1, 1, 10),
    0 0 0.2em rgb(13, 13, 14);
  color: rgb(249, 247, 252);
}

.gutterBtn .value-info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.gutterBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seperat-div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}

.seperat-div .btn-info {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 33, 8);
  color: #fff;
  transition: transform 0.8s; /* Animation */
  flex-direction: column;
  font-size: 15px;
  cursor: pointer;
  border-radius: 1em;
  font-weight: 1000;
}

.seperat-div .btn-info:hover {
  background-color: #fff;
  color: rgb(16, 17, 17);
  text-shadow: 1px 1px 2px rgb(46, 44, 44), 0 0 1em rgb(1, 1, 10),
    0 0 0.2em rgb(13, 13, 14);
}

.main-selector .typo-info {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.main {
  font-weight: 700;
  font-size: large;
  transition: background-color 0.4s;
  text-shadow: red 0 -1px;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
